* {
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
}

.nav {
    position: fixed;
    min-width: 100vw;
    background-color: #007ACC;
    height: 4em;
}

.nav-link {
    color: white;
    font-size: 1.2em;
    margin-top: 7px;
}

.nav-link:hover {
    color: white;
}

.nav-item {
    transition: background-color 0.5s;
}
.nav-item:hover {
    background-color: #006BB3;
}

.active {
    background-color: #006BB3
}

.greeting {
    position: relative;
    text-align: center;
    top: 300px;
    font-family: 'Roboto', sans-serif;
}

.greet-hello {
    opacity: 0%;
    position: relative;
    animation-name: fadeIn;
    animation-duration: 1.8s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.greet-position {
    opacity: 0%;
    position: relative;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.skills {
    position: relative;
    max-width: 900px;
    top: 650px;
    left: 400px;
}

.skills-title {
    text-decoration: solid underline #31383F;
}