* {
    font-family: 'Roboto', sans-serif;
    overflow-wrap: break-word;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y:scroll;
    max-width: 100%;
}

.nav {
    position: fixed;
    min-width: 100%;
    background-color: #007ACC;
    height: 4em;
    z-index: 2;

}

.nav-link {
    color: white;
    font-size: 1.2em;
    margin-top: 7px;
}

.nav-link:hover {
    color: white;
}

.nav-item {
    transition: background-color 0.5s;
}
.nav-item:hover {
    background-color: #006BB3;
}

.active {
    background-color: #006BB3
}

.greeting {
    opacity: 0%;
    display: inline-block;
    position: relative;
    text-align: center;
    top: 300px;
    left: 35%;
    border: solid black 4px;
    padding: 20px;
    animation-name: fadeIn;
    animation-duration: 1.8s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    min-width: 20%;
    height: 10%
}

.greet-hello {
    opacity: 0%;
    position: relative;
    animation-name: fadeIn;
    animation-duration: 1.8s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.greet-position {
    opacity: 0%;
    position: relative;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.skills {
    max-width: 60vw;
    margin-left: 20vw;
}

.skill {
    font-size: 18px;
    height: 10px;
}

.skills-grid {
    display: grid;
    position: relative;
    grid-template-columns: 300px 600px;
    column-gap: 60px;
}

.languages {
    border-right: 4px #f5f5f5 solid;
    border-radius: 3px;
}

.frameworks {
    display: grid;
    grid-template-columns: 300px 300px;
}

.skills-container {
    position: relative;
    top: 110vh;
    left: 20vw;
    background-color: #30F080;
    margin-left: -20vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.skills-title {
    text-decoration: solid underline #31383F;
}

.about {
    top: 0;
    left: 0;
    max-width: 70vw;
    margin-left: 20vw;
}

.about-container {
    position: relative;
    top: 80vh;
    background-color: #15E0EB;
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 100%;
}

.about-name {
    text-decoration: solid underline #31383F;
    font-size: 40px;
}

.about-desc {
    font-size: 25px;
}

.projects {
    position: relative;
    top: 150vh;
    left: 20vw;
    max-width: 70vw;
}

.projects-title {
    text-decoration: solid underline #31383F; 
    position: relative;
    bottom: 120px;
}

.projects-list-item {
    position: relative;
    margin-top: 50px;
    bottom: 120px;
}

.projects-desc {
    position: relative;
    margin-top: 10px;
    font-size: 18px;
}

.projects-picture {
    position: relative;
    width: 50%;
    left: 20vw;
    bottom: 120px;
}

.toga {
    position: relative;
    bottom: 40px;
}

.live-link:hover {
    text-decoration: none;
}

.contact {
    margin-left: 20vw;
    position:relative;
}

.contact-container {
    position: relative;
    top: 145vh;
    left: 20vw;
    margin-bottom: 20px;
    background-color: #968BFC;
    margin-left: -20vw;
    padding-top: 10vh;
}

.contact-title {
    position: relative;
    text-decoration: solid underline #31383F; 
    left: 450px;
    font-size: 25px;
    bottom: 50px;
}

.github {
    position: relative;
    font-size: 50px;
    /* left: 750px;
    bottom: 250px; */
    color: black
}

.github:hover {
    color: grey
}

.linkedIn {
    position: relative;
    font-size: 50px;
    /* left: 830px;
    bottom: 250px; */
    color: #0077B5
}

#resume {
    font-size: 20px;
}

.envelope {
    position: relative;
    color:#da1f1f;
    font-size: 50px;
    /* left: 650px;
    bottom: 250px; */
}

.envelope:hover {
    color:#af1919;
}

.icons {
    display: flex;
    position: relative;
    width: 300px;
    justify-content: space-around;
    left: 360px;
    bottom: 40px;
}

@media only screen and (max-width: 1500px) {
    .about-container {
        min-width: 120%
    }
}

@media only screen and (max-width: 1200px) {
    .projects-list-item {
        margin-top: 0;
        font-size: 15px;
    }
    .about-desc {
        font-size: 20px;
    }
    .projects-desc {
        font-size: 15px;
    }
    .skill {
        font-size: 15px;
    }
    .projects-picture {
        position: relative;
        bottom: 50px;
        width: 20%; 
    }
    .about-container {
        min-width: 120%
    }
    .contact-title {
        left: 300px;
    }
    .icons {
        left: 210px;
    }
  }

  @media only screen and (max-width: 1000px) {
      .greeting {
          position: relative;
          left: 25%;
      }
      .greet-hello {
          font-size: 15px;
      }
      .greet-position {
          font-size: 10px;
      }
      .skills-grid {
          display: block;
      }
      .contact-title {
          left: 20%;
      }
      .icons {
          position: absolute;
          bottom: 5px;
          left: 5%
      }
      .github {
          font-size: 27px;
      }
      .envelope {
          font-size: 27px;
      }
      .linkedIn {
          font-size: 27px;
      }
      .frameworks {
          display: block;
      }

      .frameworks-title {
          margin-top: 40px;
      }
      .projects-desc {
          max-width: 500px;
          text-align: center;
      }
      .project-name {
          text-decoration: underline;
      }
      .projects-picture {
          top: 10px;
          width: 50%;
          margin: 0 auto;
      }
      .projects-list-item {
          margin-top: 25px;
      }
      .projects-title {
          text-align: center;
      }
      .skills-title {
          position: relative;
          text-align: center;
      }
      .languages {
        border-right: 4px #30F080 solid;
      }
      .nav {
          height: 5%;
      }
      .nav-link {
          font-size: 11.5px;
      }
  }


